<h1>Clientes</h1>
<div class="container mt-3">
  <h5>Buscador</h5>
  <div class="d-flex mb-3" style="gap: 8px; max-width: 400px;">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre..."
    />
    <button class="btn btn-primary">
      🔍 Buscar
    </button>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Puntos</th>
      <th scope="col">Historial</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Maria Cristina Martinez Sanchez</td>
      <td>250</td>
      <td><a class="cursor-pointer">Select</a></td>
    </tr>
    <tr>
      <td>Marco Enriquez Rodriguez Hernandez</td>
      <td>300</td>
      <td><a class="cursor-pointer">Select</a></td>
    </tr>
    <tr>
      <td>Jonathan Alejandro Gomez Ramirez</td>
      <td>100</td>
      <td><a class="cursor-pointer">Select</a></td>
    </tr>
    <tr>
      <td>Camila Alejeandra Zaldaña Lopez</td>
      <td>525</td>
      <td><a class="cursor-pointer">Select</a></td>
    </tr>
    <tr>
      <td>Mayra Teresa Carbajal de Morales</td>
      <td>55</td>
      <td><a class="cursor-pointer">Select</a></td>
    </tr>
  </tbody>
</table>