<h1>Clientes</h1>
<section class= "flex">
    <div class="lg:w-[100%] flex justify-center flex-col">
      <section class="flex gap-4 w-full">
        <div class= "w-full">
          <div class="mb-1 w-full">
  <label for="exampleFormControlInput1" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa Nombre">
  </div>
</div>
</section>
<section class="flex gap-3 w-full">
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">DUI</label>
  <input type="number" class="form-control" id="exampleFormControlInpu21" placeholder="DUI">
</div>
</section>
<section class="flex gap-3 w-full">
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Dirección</label>
  <input type="text" class="form-control" id="exampleFormControlInpu21" placeholder="Ingresa la direccion">
</div>
</section>
<section class="flex gap-4 w-full">
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese la fecha de nacimiento">
</div>
</section>
<section class="flex gap-4 w-full">
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Telefono</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el telefono">
</div>
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Correo</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el correo">
</div>
</section>
<section class="flex gap-4 w-full">
<div class="mb-10 w-full">
  <label for="exampleFormControlInput1" class="form-label">Genero</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el genero">
</div>
</section>
<div class="mb-10">
<button type="button" class="btn btn-dark">Guardar</button>  
</div>
</div>  
</section>