<aside
  id="sidebar"
  class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2 fixed inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out z-40"
>
  <span class="text-white flex items-center px-4">
    <span class="text-2xl font-extrabold">Modulo de Lealtad</span>
  </span>

  <nav class="mt-10">
    <a
      routerLink="/"
      class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 text-decoration-none"
    >
      <span class="text-gray-100 hover:text-white">🏠 Inicio</span>
    </a>
    <a
      routerLink="/formulario-multiplicador"
      class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 text-decoration-none"
    >
      <span class="text-gray-100 hover:text-white">🧮 Progama Lealtad</span>
    </a>
    <a
      routerLink="/formulario-nivel"
      class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 text-decoration-none"
    >
      <span class="text-gray-100 hover:text-white">🥇 Niveles</span>
    </a>
  </nav>
</aside>
