<h1>Programa Lealtad</h1>
<section class= "flex flex-row-reverse justify-between mx-10">
  <section>
    <table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Fin</th>
      <th scope="col">Acumular</th>
      <th scope="col">Redimir</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13/10/2025</td>
      <td>14/10/2026</td>
      <td>1</td>
      <td>0.01</td>
      <td><a class="cursor-pointer" style="color: #9333ea !important;">Select</a></td>
    </tr>
  </tbody>
</table>
  </section>
    <div class="lg:w-[40%] flex justify-center flex-col">
      <section class="flex gap-4 w-full">
        <div class= "w-full">
          <div class="mb-1 w-full">
  <label for="exampleFormControlInput1" class="form-label">Fecha de inicio</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fecha de inicio">
  </div>
</div>
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Fecha fin</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fecha fin">
</div>
</section>
<section class="flex gap-5 w-full">
   <label for="exampleFormControlInput1" class="form-label">Tipo de Programa lealtad:</label>
  <div>
<div class="mb-3 w-full">
  <div class="form-check ">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Item
  </label>
</div>
<div class="form-check mb-3 w-full">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Factura
  </label>
  </div>
</div>
</div>
</section>
<section class="flex gap-3 w-full">
<div class="mb-3 w-full">
  <label for="exampleFormControlInput1" class="form-label">Acumular</label>
  <input type="number" class="form-control" id="exampleFormControlInpu21" placeholder="Multiplicador">
</div>
</section>
<section class="flex gap-4 w-full">
<div class="mb-10 w-full">
  <label for="exampleFormControlInput1" class="form-label">Redimir  </label>
  <input type="number" class="form-control" id="exampleFormControlInpu21" placeholder="Multiplicador">
</div>
</section>
<div class="mb-10">
<button type="button" class="btn" style="background-color: #9333ea !important; color: white;">Guardar</button>  
</div>
</div>  
</section>